.App {
  text-align: left;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#background {
  position: absolute;
  z-index: -100;
  background-color: rgb(244, 244, 244);
  /* height: 100%; */
  width: 110%;
  opacity: 0.2;
}
#logo-icon {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.044);
  border-radius: 50px;
}

.active {
  background-color: rgb(13, 20, 18);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  padding-top: 15px;
  transition: all 0.5s ease;
}

.inactive {
  background-color: rgb(13, 20, 18);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  padding-top: 15px;
  transition: all 0.5s ease;
}
.show {
  /* display: block; */
  transition: all 0.5s ease;
}

.hide {
  display: none;
  pointer-events: none;
  transition: all 0.5s ease;
}

#logo .hide {
  display: block;
  visibility: hidden;
  transition: all 0.5s ease;
}

#navBar {
  position: fixed;
  top: 150px;
  padding: 10px;
  text-align: left;
}
#navBar img {
  height: 50px;
  margin: 10px;
}
#navBar a {
  text-decoration: none;
}
#navBar li {
  font-size: 25px;
  font-weight: 500;
  color: black;
  list-style: none;
  margin: 10px;
  padding-right: 5px;
  transition: all 0.5s ease;
  border-radius: 12px;
}

#navBar li:hover {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  background-color: rgb(72, 168, 252);
  list-style: none;
}

#logo {
  color: aliceblue;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

#log-out {
  text-align: left;
  /* padding: 20px; */
  margin: 20px;
  position: absolute;
  bottom: 0;
  font-size: 25px;
  font-weight: 500;
  color: #0d6efd;
}
#log-out img:hover {
  background-color: rgb(72, 168, 252);
  border-radius: 12px;
}
#log-out span {
  margin: 10px;
}
#log-out img {
  height: 50px;
  margin: 10px;
}

#log-in {
  text-align: left;
  padding: 20px;
  position: fixed;
  bottom: 0;
  font-size: 25px;
  font-weight: 500;
  color: #0d6efd;
}
#log-in img:hover {
  background-color: rgb(72, 168, 252);
  border-radius: 12px;
}
#login-form {
  position: fixed;
  top: 500px;
  left: 40px;
}
#signup {
  position: fixed;
  top: 750px;
  left: 40px;
}

#header {
  z-index: 100;
}

#login-form {
  color: #0d6efd;
  width: 40px;
  font-size: 20px;
  transition: all 0.25s ease;
}

#login-form input,
#signup {
  width: 200px;
  border-radius: 12px;
  color: #0d6efd;
  font-size: 20px;
  text-align: center;
}
#signup {
  transition: all 0.25s ease;
}

#login-form label {
  color: #0d6efd;
  text-align: center;
}
